
{% if site.bitbucket_username %}
<a target="_blank" href="https://bitbucket.org/{{site.bitbucket_username}}">
  <i class="fa fa-2x fa-bitbucket"></i>
</a>
&nbsp;&nbsp;
{% endif %}

{% if site.github_username %}
<a target="_blank" href="https://github.com/{{site.github_username}}">
  <i class="fa fa-2x fa-github"></i>
</a>
&nbsp;&nbsp;
{% endif %}

{% if site.linkedin_username %}
<a target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}">
  <i class="fa fa-2x fa-linkedin"></i>
</a>
&nbsp;&nbsp;
{% endif %}

{% if site.twitter_username %}
<a target="_blank" href="https://twitter.com/{{site.twitter_username}}">
  <i class="fa fa-2x fa-twitter"></i>
</a>
{% endif %}